@{
    ViewBag.Title = "Home Page";
}



<div style="margin-left:40%;margin-top:10%;" class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true" onlogin="checkLoginState();"></div>
<div id="status">
</div>