@{
    ViewBag.Title = "Home Page";
}

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>


<div style="margin-left:40%;margin-top:10%;" scope="public_profile,email,user_relationships,user_friends,user_birthday,user_hometown,user_likes" class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true" onlogin="checkLoginState();"></div>
<div id="status">
</div>